@model Logicom_Inventaire_FrontEnd.Models.HistoriqueInventaire

@{ 
    ViewBag.Title = "LignesHistorique";
}
<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.11.3/datatables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.11.3/datatables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>LignesHistorique</title>


    <style>

        #scrollToTopButton {
            position: fixed;
            right: 0;
            top: 45%;
            transform: translate(0, -50%);
            z-index: 9999;
        }

        #scrollToBottomButton {
            position: fixed;
            right: 0;
            top: 55%;
            transform: translate(0, -50%);
            z-index: 9999;
        }

        .input-bordered {
            border-top-width: 1px;
            border-right-width: 1px;
            border-bottom-width: 1px;
            border-left-width: 1px;
            border-top-style: solid;
            border-right-style: solid;
            border-bottom-style: solid;
            border-left-style: solid;
            border-top-color: rgb(4, 0, 253);
            border-right-color: rgb(4, 0, 253);
            border-bottom-color: rgb(4, 0, 253);
            border-left-color: rgb(4, 0, 253);
            border-image-source: initial;
            border-image-slice: initial;
            border-image-width: initial;
            border-image-outset: initial;
            border-image-repeat: initial;
        }

        hr {
            border: 1px solid #000;
        }

        html, body {
            height: 100%;
        }

        body {
            margin-top: 10px;
            background-image: linear-gradient( #d4dcdc, #dfe4e6, #eaedef, #f5f6f7, #ffffff);
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body><br />
    <center>
        <h2>
            Liste des lignes de l'historique N°@Model.NumMAJ
        </h2>
    </center>
    <br />
    <hr />
    <table id="ExpTable" class="table">
        <thead class="sortable">
            <tr>
                <th data-sort="famille">Point de vente</th>
                <th data-sort="codeart">Dépôt</th>
                <th data-sort="desart">Famille</th>
                <th data-sort="qtes">Code article</th>
                <th data-sort="qtes">Désignation</th>
                <th data-sort="ecartinv">Quantité</th>
            </tr>
        </thead>
        <tbody class="sortable">
            @for (int i = 0; i < Model.Lignes.Count; i++)
            {
                <tr>
                    <td data-order="@Model.Lignes[i].libpv">
                        @Html.EditorFor(m => m.Lignes[i].libpv, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </td>
                    <td data-order="@Model.Lignes[i].LIBDEP">
                        @Html.EditorFor(m => m.Lignes[i].LIBDEP, new { HtmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </td>
                    <td data-order="@Model.Lignes[i].FAMILLE" style="width:250px;">
                        @Html.EditorFor(m => m.Lignes[i].FAMILLE, new { HtmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </td>
                    <td data-order="@Model.Lignes[i].CODEART" style="width:250px;">
                        @Html.EditorFor(m => m.Lignes[i].CODEART, new { HtmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </td>
                    <td data-order="@Model.Lignes[i].DESART">
                        @Html.EditorFor(m => m.Lignes[i].DESART, new { HtmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </td>
                    <td data-order="@Model.Lignes[i].QTEART">
                        @Html.EditorFor(m => m.Lignes[i].QTEART, new { HtmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </td>

                </tr>
            }
        </tbody>
    </table>
    @section Scripts{
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.11.3/datatables.min.css" />
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.11.3/datatables.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#ExpTable').DataTable({
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                    },
                    "paging": true,
                    "searching": true,
                    "ordering": true,


                });
            });
        </script>
    }

</body>
</html>
